<h1> TEST </h1>

<ul>
  <% @kayaks.each do |kayak| %>
    <li><%= kayak.id %></li>

    <%= link_to edit_kayak_path(@kayak.id), class: 'pull-right btn btn-default' do %>
      <i class="fa fa-pencil"></i> Edit this kayak
    <% end %>
    <%= link_to kayak_path(kayak.id), method: :delete, data: { confirm: "Delete #{kayak.id}?" } do %>
    <i class="fa fa-trash-o" aria-hidden="true">Supprimer</i>

  <% end %>
  <% end %>
</ul>

<% console %>
