h1
{
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.description
{
font-size: 15px;
padding: 1em;
color: red;

}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.card-category-1 {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  list-style-type: none;

}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;

}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.card-product-1 {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: white;
  box-shadow: inset 0 -3px 0 0 #bdb;
  box-shadow: none;
  display: flex;
  align-items: center;
  padding: 1em;
  list-style: none;
  justify-content: space-around;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card-product {
  overflow: hidden;
  height: 200px;
  width: 600px;
  background: white;
  box-shadow: inset 0 -3px 0 0 #bdb;
  box-shadow: none;
  display: flex;
  align-items: center;
  padding: 1em;
  list-style: none;
  justify-content: space-around;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

//background-size: cover;
//background-position: center;
//border-radius: 1px;
//box-shadow: 0 0 10px rgba(0,0,0,0.2);
//justify-content: space-around;
//font-weight: bolder;
//text-shadow: 0 0 10px rgba(0,0,0,0.7);

.card-info {
  overflow: hidden;
  height: 200px;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 1em;
}

.card-product img {
  position: align-center;
  height: 100%;
  width: 230px;
  object-fit: cover;
  border: 2px solid rgb(9, 113, 133);
  border-bottom: 2px solid rgb(10, 105, 120);
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;


  }
.a
{
  border: none;
}


.url {
  color: #070101;
  border: none;
  box-shadow: inset 0 -3px 0 0 red;
  box-shadow: none;
  font-size: small;
  padding: 1em;
}
